.h1{
	font-family: 'Vollkorn SC';
}


.navbar{
	background-color: #00001a;
	}
	
	.collapse .navbar-collapse{
		color: #000000;
	}
	
	.navbar .navbar-nav .nav-link {
		color: #fa8072;
		font-size: 1.1em;
	}
	.navbar .navbar-nav .nav-link:hover {
	  background-color: lightgoldenrodyellow;
	  color: #000000;
	}
/* Home-Carousel */
.carousel-item img{
    height: 80vh;
    min-height: 300px;
    background: no-repeat scroll center scroll;
    --webkit-background-size : cover;
	background-size : cover;
}
.carousel-item::before{
	content: "";
	display: block;
	position: absolute;
	background: #000;
	top: 0%;
	left: 0%;
	bottom: 0%;
	right: 0%;
	opacity: 0.7;
}
.carousel-caption {
	bottom: 250px;
	padding-left: 100px;
	padding-right: 100px;
	font-family: poppins;
}
.carousel-caption h5 {
	font-size: 45px;
	text-transform: uppercase;
	font-weight: 700;
}
.carousel-caption p{
	font-size: 18px;
	top: 2rem;
}
.slider-btn{
	margin-top: 30px;
}
.slider-btn .btn{
	background-color: #e74c3c;
	color: white;
	border-radius: 2%;
	padding: 1rem 1rem;
	font-size: 1rem;
	font-family: poppins;
}

.carousel-control.right {
	background-image: none;
}
.carousel-control.left {
	background-image: none;
}
/*responsive css*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.carousel-caption {
		padding-bottom: 350px;
	}
	.carousel-caption h5 {
		font-size: 50px;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-inverse .navbar-brand {
		font-size: 30px;
		padding: 20px 15px;
	}
	.navbar-collapse {
		background: rgba(0, 0, 0, 0.5);
	}
	.carousel-caption {
		padding-bottom: 120px;
	}.carousel-caption a {
	background: #EDBB00;
	padding: 15px 35px;
	display: inline-block;
	margin-top: 15px;
	color: #fff;
	text-transform: uppercase;
	border-radius: 25px;
}
	.carousel-caption h2 {
		font-size: 25px;
	}
	.carousel-caption h3 {
		font-size: 18px;
	}
	.carousel-caption a {
		padding: 10px 25px;
	}
}

.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
}
.step-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: var(--prm-gray);
    transition: .4s;
}
.step-button[aria-expanded="true"] {
    width: 60px;
    height: 60px;
    background-color: var(--prm-color);
    color: #fff;
}
.done {
    background-color: var(--prm-color);
    color: #fff;
}

.card-body{
background-color:lightcyan;
font-family: 'Quattrocento';
color: rgb(0, 0, 0);
}

.step-item {
    z-index: 10;
    text-align: center;
}
#progress {
  -webkit-appearance:none;
    position: absolute;
    width: 95%;
    z-index: 5;
    height: 10px;
    margin-left: 18px;
    margin-bottom: 18px;
}
/* to customize progress bar */
#progress::-webkit-progress-value {
    background-color: var(--prm-color);
    transition: .5s ease;
}
#progress::-webkit-progress-bar {
    background-color: var(--prm-gray);

}

/*Reviews Customer*/
.reviewimg{
	width: 20%;
   	margin: auto;
	height: 30%;
	border-radius: 10%;
	border: #000;
	text-align: center;

}
.card {
    border: none
}

.user-content p {
    margin-top: 5px;
    font-size: 15px
}

.form-floating>label {
    padding: 0.5rem 0.75rem;
}
